body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    background-image: url(../img/index-mountains-bg-2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);   
}

.inner-page .container {
    background-color: #fefefe;
    background-image: url(../img/hotels-search_form-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;    
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-navigation ul {
    display: flex;
    margin: 0;
    padding: 0;

    font-size: 0;

    list-style: none;
}

.site-navigation li {
    width: 240px;
    height: 56px;

    font-size: 14px;
    line-height: 56px;
    text-align: center;
    vertical-align: middle;
}

.site-navigation a {
    font-weight: 700;
    color: #000000;

    outline: none;
}

.site-navigation-current a {
    color: #766357;
    cursor: default;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a:hover,
.site-navigation-current a:active,
.site-navigation-current a:focus {
    color: #766357;
    cursor: default;
}

.page-title {
    margin: 0;
    padding: 0;
    width: 450px;
    margin: 0 auto;
    margin-top: 570px;
    margin-bottom: 25px;

    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.promo {
    margin: 0;
    margin-bottom: 50px;

    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    
    list-style: none;
    background-color: #eeeeee;
}

.advantages-list img {
    width: 800px;
    height: 256px;
}

.advantages-item {
    width: 400px;
    height: 256px;
}

.advantages-item-blue {
    width: 400px;
    height: 256px;

    background-color: #81b3d2;
}

.advantages-title {
    margin: 0 auto;
    margin-bottom: 23px;
    padding-top: 47px;
    width: 151px;

    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

.more-advantages .advantages-title {
    padding-top: 60px;
}

.advantages-item-blue .advantages-title {
    color: #ffffff;
}

.advantages-number {
    margin: 0;
    margin-bottom: 25px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.advantages-item-blue .advantages-number {
    color: #ffffff;
}

.advantages-description {
    margin: 0;
    margin: 0 auto;
    width: 300px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.advantages-item-blue .advantages-description {
    color: #ffffff;
}

.more-advantages {
    display: flex;
    padding: 0;

    list-style: none;
    background-color: #ffffff;
}

.more-advantages .advantages-item {
    height: 330px;
}

.more-advantages h2::before  {
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    margin-bottom: 26px;
    background-repeat: no-repeat;
    background-position: top center;
}

.img-house::before {
    background-image: url(../img/index-icon-house.svg);
}

.img-burger::before {
    background-image: url(../img/index-icon-burger.svg);
}

.img-present::before {
    background-image: url(../img/index-icon-present.svg);
}

.search {
    text-align: center;
}

.search b {
    display: block;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}

.search p {
    margin: 0;
    margin-bottom: 43px;

    text-align: center;
}

.search button {
    width: 568px;
    height: 86px;
    margin: 0 auto;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    background-color: #766357;
    outline: none;
    border: none;
}

.search button:hover {
    background-color: #604e43;
    cursor: pointer;
}

.search button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

/* inner-page */

.filter-form {
    display: flex;
    padding: 27px 72px;
    padding-bottom: 11px;
}

.filter-form fieldset {
    display: flex;
    margin: 0;
    margin-right: 115px;
    padding: 0;

    border: none;
}

.filter-form legend {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.filter-form ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-option {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 40px;

    color: #ffffff; 
}

.checkbox-custom::before {
    content: "";
    position: absolute;
    top: 3px;
    width: 27px;
    height: 23px;
    margin-left: -40px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + .checkbox-custom::before {
    background-image: url(../img/checkbox-on.svg);
}

.checkbox-custom:hover::before,
.filter-option label:hover {
    cursor: pointer;
}

.filter-form label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    vertical-align: middle;
}

.range-cost b {
    margin-bottom: 12px;
}

.range {
    position: relative;
    display: flex;
    margin-bottom: 9px;
}

.range::before {
    content: "";
    position: absolute;
    left: 160px;
    top: 7px;
    width: 2px;
    height: 22px;
    background-color: #ffffff;
}

.filter-form .range-from,
.filter-form .range-to {
    width: 160px;
    height: 36px;

    font-size: 14px;
    font-weight: 21px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;

    box-sizing: border-box;
    border: 2px solid #ffffff;
    background-color: transparent;
}

.filter-form .range-from {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.filter-form .range-from {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}

.filter-form .range-to {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
}

input[type="range"] {
    width: 320px;
    margin-bottom: 23px;
}

.btn-filter {
    margin-left: 87px;
    width: 137px;
    height: 35px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    background: none;
    border: 2px solid #ffffff;

    text-transform: uppercase;
    border-radius: 3px;
}

.btn-filter:hover {
    color: #000000;

    background-color: #ffffff;
}

.filter-form fieldset:last-child {
    width: 320px;
    margin: 0;
    margin-left: auto;

    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.search-result-header {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}

.search-result-header p {
    margin: 33px 0;
    padding-left: 72px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

}

.sort-list {
    display: flex;
    margin: auto 0;
    padding: 0;
    list-style: none;

}

.sort-list li {
    margin-right: 35px;
}

li.sort-list-title {
    margin-left: 50px;
    margin-right: 45px;
    font-size: 12px;
    /* line-height: 21px; */
    color: #000000;
} 

.sort-item {
    font-size: 12px;
    font-weight: 18px;
    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #81b3d2;
}

.sort-item:hover {
    color: #81b3d2;
    border: none;
}

.sort-item:active,
.sort-item:focus {
    color: #000000;
    outline: none;
    border: none;
}

.sort-item-current {
    font-size: 12px;
    line-height: 18px;
    color: #81b3d2;

    outline: none;
    cursor: default;
}

.triangles {
    display: flex;
    margin: auto 0;
    margin-right: 73px;
    margin-left: auto;
}

.triangle-up {
    width: 0;;
    height: 0;

    font-size: 0;

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #cacaca;
}

.triangle-down {
    width: 0;
    height: 0;
    margin-left: 12px;

    font-size: 0;

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #cacaca;
}

.triangle-up:hover {
    border-bottom-color: #000000;    
}

.triangle-down:hover {
    border-top-color: #000000;
}

.triangle-up:active,
.triangle-up:focus {
    border-bottom-color: #81b3d2;
    outline: none;
}

.triangle-down:active,
.triangle-down:focus {
    border-top-color: #81b3d2;
    outline: none;
}

.triangle-current {
    border-bottom-color: #81b3d2;
    border-top-color: #81b3d2;
    cursor: default;
}

.triangle-current:hover {
    border-bottom-color: #81b3d2;
    border-top-color: #81b3d2;
}

.search-result-item {
    display: flex;
    padding: 28px 72px;

    border-bottom: 1px solid #e5e5e5;
}

.search-result-img {
    width: 135px;
    height: 90px;
    margin-right: 30px;
}

.search-result-description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.search-result-name {
    margin-top: -5px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.search-result-booking {
    display: flex;
}

.search-result-name:hover,
.search-result-name:focus {
    color: #81b3d2;
    outline: none;
}

.search-result-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.search-result-type,
.search-result-price {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 14px;
    line-height: 21px;

    color: #333333;
}

.search-result-button {
    padding: 4px 17px;
    font-size: 0;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.search-result-more {
    margin-right: 6px;

    font-size: 14px;

    background-color: #81b3d2;
}

.search-result-more:hover,
.search-result-more:focus {
    background-color: #669ec0;
    outline: none;
}

.search-result-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;    
}

.search-result-to_book {
    font-size: 14px;

    background-color: #766357;
}

.search-result-to_book:hover,
.search-result-to_book:focus {
    background-color: #604e43;
    outline: none;
}

.search-result-to_book:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search-result-rating {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.search-result-star {
    margin: 0;
    margin-bottom: auto;
    margin-left: auto;
}

.rating-number {
    width: 110px;
    height: 27px;
    margin: 0;
    margin-top: auto;

    color: #666666;
    text-align: center;

    background-color: #f2f2f2;
}

/* footer */

.main-footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.inner-page .main-footer {
    position: static;
}

.main-footer > b {
    margin-left: 138px;
    margin-top: 50px;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    vertical-align: middle;
}

.social-content {
    display: flex;
    justify-content: space-between;
    width: 151px;
    margin: 43px 0;

    font-size: 0;
    list-style: none;
    text-align: center;
}

.social-content a {
    display: block;
    width: 46px;
    height: 48px;

    background-repeat: no-repeat;
    background-color: #81b3d2;
}

.social-content li:first-child a {
    background-image: url(../img/footer-icon-tw.svg);
    background-position: center;
}

.social-content a:hover {
    background-color: #669ec0;
}

.social-content li:first-child a:active {
    background-image: url(../img/footer-icon-tw-opacity.svg); 
    background-color: #5496bd;
}

.social-content li:nth-child(2) a {
    background-image: url(../img/footer-icon-fb.svg);
    background-position: center;
}

.social-content a:hover {
    background-color: #669ec0;
}

.social-content li:nth-child(2) a:active {
    background-image: url(../img/footer-icon-fb-opacity.svg); 
    background-color: #5496bd;
}

.social-content li:last-child a {
    background-image: url(../img/footer-icon-youtube.svg);
    background-position: center;
}

.social-content a:hover {
    background-color: #669ec0;
}

.social-content li:last-child a:active {
    background-image: url(../img/footer-icon-youtube-opacity.svg); 
    background-color: #5496bd;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0;
    margin-right: 100px;
    text-align: center;
}

.footer-copyright b {
    margin: auto 0;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
}

.footer-copyright a {
    width: 115px;
    height: 41px;
    margin: auto 0;

    font-size: 0;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    background-image: url(../img/footer-icon-logo_name.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-copyright a:hover {
    background-image: url(../img/footer-icon-logo_name-blue.svg);
}

.footer-copyright a:active {
    background-image: url(../img/footer-icon-logo_name-gray.svg);
}

/* modal */

.modal {
    position: absolute;
    bottom: 205px;
    left: 316px;
    width: 458px;
    height: 285px;
    margin: 0 auto;
    padding: 55px;

    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}
.search-form {
    display: flex;
    flex-wrap: wrap;
}

.search-form label {
    padding-top: 7px;
}

.search-form input[type="text"] {
    position: relative;
    margin-left: auto;
    padding: 8px 13px;
    
    font: inherit;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
    border: none;
}

.search-form input[type="text"]:hover {
    background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.search-form .calendar-1::before,
.search-form .calendar-2::before {
    content: "";
    position: absolute;
    right: 65px;
    top: 63px;
    width: 22px;
    height: 22px;
    background-image: url(../img/popup-calendar-grey.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}

.search-form .calendar-2::before {
    top: 130px;
}

.search-form .calendar-1:hover::before,
.search-form .calendar-2:hover::before {
    background-image: url(../img/popup-calendar-black.svg);

    cursor: pointer;
}

.search-form .calendar-1:active::before,
.search-form .calendar-2:active::before {
    background-image: url(../img/popup-calendar-blue.svg);
}




.form-date-in,
.form-date-out {
    width: 320px;
    height: 22px;
    margin-bottom: 30px;
}

#form-adults {
    margin: 0;
}

#form-children {
    margin: 0;
}

.search-form button {
    font-size: 21px;
    font-weight: 700;
    color: #a9a9a9;
    
    background-color: #f2f2f2;
    border: none;
}

.form-adult {
    width: 13px;
    height: 22px;
    
    text-align: center;
}

.btn-adults-minus {
    margin: 0;
    margin-left: 41px;
    padding: 0;
    width: 38px;
    height: 38px;
}

.btn-adults-minus:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.btn-adults-minus::before {
    content: "";
    display: block;
    width: 12px;
    height: 3px;
    margin: 0 auto;
    
    background-color: #a9a9a9;
}

.btn-adults-minus:hover::before {
    background-color: #000000;
    cursor: pointer;
}

.btn-adults-minus:active::before {
    background-color: #81b3d2;
}

.btn-adults-plus {
    position: relative;
    margin: 0;
    margin-right: 53px;
    padding: 0;
    width: 38px;
    height: 38px;
}

.btn-adults-plus:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.btn-adults-plus::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    
    display: block;    
    width: 12px;
    height: 3px;
    margin: 0 auto;
    
    background-color: #a9a9a9;
    transform: rotate(90deg);
}

.btn-adults-plus:hover::before {
    background-color: #000000;
    cursor: pointer;
}

.btn-adults-plus:active::before {
    background-color: #81b3d2;
}

.btn-adults-plus::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    
    display: block;
    margin: 0 auto;
    width: 12px;
    height: 3px;
    
    background-color: #a9a9a9;
}

.btn-adults-plus:hover::after {
    background-color: #000000;
    cursor: pointer;
}

.btn-adults-plus:active::after {
    background-color: #81b3d2;
}

.form-children {
    width: 13px;
    height: 22px;
    text-align: center;
}

.btn-children-minus {
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    margin-left: 24px;
}

.btn-children-minus:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.btn-children-minus::before {
    content: "";
    display: block;
    width: 12px;
    height: 3px;
    margin: 0 auto;
    background-color: #a9a9a9;
}

.btn-children-minus:hover::before {
    background-color: #000000;
    cursor: pointer;
}

.btn-children-minus:active::before {
    background-color: #81b3d2;
}

.btn-children-plus {
    position: relative;
    width: 38px;
    height: 38px;
    margin-left: 0;
}

.btn-children-plus:hover {
    background-color: #ebebeb;
}

.btn-children-plus::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    
    display: block;
    width: 12px;
    height: 3px;
    margin: 0 auto;
    
    background-color: #a9a9a9;
    transform: rotate(90deg);
}

.btn-children-plus:hover::before {
    background-color: #000000;
    cursor: pointer;
}

.btn-children-plus:active::before {
    background-color: #81b3d2;
}

.btn-children-plus::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    display: block;
    width: 12px;
    height: 3px;
    margin: 0 auto;
    background-color: #a9a9a9;
}

.btn-children-plus:hover::after {
    background-color: #000000;
    cursor: pointer;
}

.btn-children-plus:active::after {
    background-color: #81b3d2;
}

.search-form-btn {
    margin-top: 54px;
}

.search-form button:hover {
    color: #000000;
    cursor: pointer;
}

.search-form button:active  {
    color: #81b3d2;
    outline: none;
}

.search-form button:focus {
    outline: none;
}

.search-form-btn[type="submit"] {
    width: 458px;
    height: 58px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    
    background-color: #81b3d2;
    border: none;
}

.search-form-btn[type="submit"]:hover {
    color: #ffffff;
    background-color: #669ec0;
    cursor: pointer;
}

.search-form-btn[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}